* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  padding-top: 100px;
  margin: 2rem;
  margin-left: 0;
  margin-bottom: 0;
}

#navbar-gap {
  margin-top: -4%;
  margin-left: 1rem;
}
.categories {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  margin: 5rem 2rem;
  margin-right: 0;
}
.categories-individual {
  box-shadow: 2px 2px 8px -4px black;
  padding: 2rem;
}
.caption {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(63, 65, 71);
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 300px;
  border-radius: 2rem;
}
.caption {
  padding: 1rem;
}
.img-container {
  text-align: center;
}
img {
  max-width: 250px;
  border-radius: 2rem;
}
.product-image {
  width: 100%;
}

/* Responsive */
@media only screen and (max-width: 1160px) {
  .categories {
    display: grid;
    grid-template-columns: auto auto;
  }
}
