<% layout('layout') -%>

<div class="row">
  <div class="col-sm6 col-md-4">
    <img
      src="<%= user.profile.picture %> "
      alt=""
      class=".img-circle img-responsive img-center"
      style="border-radius: 50%; margin-bottom: 2rem;"
    />
    <br />
    <p>Name: <%= user.profile.name %></p>
    <p>Email: <%= user.email %></p>
    <% if (!user.address || user.address === "" || user.address ==='undefined')
    { %>
    <p>
      Address:
      <span style="color: #c0392b; font-weight: bold;">
        you have no address
      </span>
    </p>
    <%} else {%>
    <p>Address: <%= user.address %></p>
    <% } %>

    <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>
  </div>
</div>
